#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  background-color: #F0F0F0;
  color: black;
}

h1 {
  margin-bottom: 2rem;
  font-size: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C3144;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
}

.footer {
  width: auto;
  margin: auto;
  padding: 1rem;
  background-color: #1C3144;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer a {
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #1C3144;
  font-size: 20px;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  font-size: large;
}

.project {
  padding: 2rem;
  margin: 100px;
  border: 2px outset #ccc;
  border-radius: 20px;
  margin-top: 0rem;
  background-color: #EDF2F4;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: auto;
  font-size: 20px;
}

.portfolio img {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.profilePhoto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 50px;
  font-size: 20px;
}

#name, #email, #message {
  width: 70vw;
  padding: 8px 20px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: inset;
}

#message {
  height: 200px;
}

#formbutton {
  width: 70vw;
  padding: 8px 20px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: inset;
  background-color: #1C3144;
  color: white;
}

.error {
  color: red;
}

.success {
  color: green;
  font-size: 200%;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 25px;
  margin: 10px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  #name, #email, #message {
    width: 80vw;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #formbutton {
    width: 40vw;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: inset;
    background-color: #1C3144;
    color: white;
  }
}

@media screen and (min-width: 576px) {
  .header .tabs{
    flex-direction: row;
  }

  .tabs{
    width: 380px;
    align-items: right;
  }

  #name, #email, #message {
    width: 60%;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #formbutton {
    width: 30%;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: inset;
    background-color: #1C3144;
    color: white;
  }
}

@media screen and (min-width: 1080px) {
  #name, #email, #message {
    width: 60%;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #formbutton {
    width: 40%;
    padding: 8px 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: inset;
    background-color: #1C3144;
    color: white;
  }
}
