#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
   
}

.header {
  margin-bottom: 2rem;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:flex-end
  display: inline-flex;
  margin-bottom: 2rem;
}

.project {
  padding: 40px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 2rem;
}

.footer {
  margin-top: 2rem;
}